<div class="background h-screen flex justify-center items-center">
  <mat-card>
    <div
      class="content-background rounded-[var(--mat-sys-corner-large)] shadow-md p-8 w-120"
    >
      <div class="flex items-center">
        <img src="img/logo-fondo-blanco.jpg" alt="FM Logo" />
      </div>
      @if (!hideResetPasswordForm()) {
        <div class="mb-4">
          <h2 class="text-2xl font-bold">Recupero de contraseña</h2>
        </div>

        <form [formGroup]="passwordRecoveryForm">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="hidePassword() ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              matIconButton
              matSuffix
              (click)="togglePasswordVisibility()"
              type="button"
            >
              <mat-icon>{{
                hidePassword() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Confirmar contraseña</mat-label>
            <input
              matInput
              [type]="hidePassword() ? 'password' : 'text'"
              formControlName="confirmPassword"
            />
            <button
              matIconButton
              matSuffix
              (click)="togglePasswordVisibility()"
              type="button"
            >
              <mat-icon>{{
                hidePassword() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            @if (passwordRecoveryForm.hasError("passwordsMismatch")) {
              <mat-error>Las contraseñas no coinciden</mat-error>
            }
          </mat-form-field>

          <button
            matButton="filled"
            class="w-full mt-4"
            (click)="resetPassword()"
            [disabled]="!isFormValid"
          >
            Recuperar
          </button>
        </form>
      }

      <div class="text-center mt-6">
        <a href="/login" class="text-blue-500">Volver al login</a>
      </div>
    </div>
  </mat-card>
</div>
