<mat-toolbar
  class="page-toolbar gap-2 !rounded-[var(--mat-sys-corner-medium)] !bg-[var(--mat-sys-content-container-color)]"
>
  @if (showBackButton) {
    <button matIconButton matTooltip="Volver" (click)="back.emit()">
      <i-tabler name="arrow-left" />
    </button>
  }
  <div class="flex items-center gap-3">
    @if (titleIcon) {
      <div
        [class]="
          'w-10 h-10 rounded-[var(--mat-sys-corner-small)] flex items-center justify-center flex-shrink-0 ' +
          titleIconContainerColor
        "
      >
        <i-tabler [name]="titleIcon" [class]="titleIconColor"></i-tabler>
      </div>
    }
    <span>{{ title }}</span>
  </div>
  <span class="flex-1"></span>
  @if (showActionButton) {
    <button
      matButton="filled"
      [disabled]="actionButtonDisabled"
      (click)="action.emit()"
    >
      <div class="flex items-center gap-2">
        <i-tabler [name]="actionButtonIcon" />
        <span>{{ actionButtonText }}</span>
      </div>
    </button>
  }
</mat-toolbar>
