<mat-card
  appearance="outlined"
  class="!rounded-[var(--mat-sys-corner-medium)] overflow-hidden"
>
  <div class="flex items-center justify-between px-4 py-3 min-h-18 w-full">
    <div class="flex items-center gap-2">
      @if (showBackButton) {
        <app-back-button />
      }
      <span class="text-xl font-semibold">{{ title }}</span>
    </div>

    @if (showActionButton) {
      <button
        matButton="filled"
        [disabled]="actionButtonDisabled"
        (click)="action.emit()"
      >
        <div class="flex items-center gap-2">
          <i-tabler [name]="actionButtonIcon" />
          <span>{{ actionButtonText }}</span>
        </div>
      </button>
    }
  </div>
</mat-card>
