<app-page-toolbar
  [title]="'Archivo del Paciente'"
  [showBackButton]="true"
  (back)="goBack()"
></app-page-toolbar>

@if(patient()){
<div class="grid grid-cols-1 lg:grid-cols-12 gap-4 pt-4">
  <mat-card appearance="outlined" class="lg:col-span-8">
    <mat-card-header>
      <mat-card-title>Datos Personales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="patientForm">
        <div class="p-4">
          <div class="flex flex-col md:flex-row gap-6 mb-2">
            <div class="flex flex-col items-center justify-center">
              <div class="relative group">
                <div
                  class="w-64 h-64 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden"
                >
                  @if(avatarUrl()) {
                  <img
                    [src]="avatarUrl()"
                    class="w-full h-full object-cover"
                    alt="Avatar del paciente"
                  />
                  } @else { @if (patientForm.get('gender')?.value?.alias ===
                  'Hombre') {
                  <img
                    src="img/men-avatar.png"
                    class="w-full h-full object-cover"
                    alt="Avatar masculino por defecto"
                  />
                  } @else if (patientForm.get('gender')?.value?.alias ===
                  'Mujer') {
                  <img
                    src="img/women-avatar.png"
                    class="w-full h-full object-cover"
                    alt="Avatar femenino por defecto"
                  />
                  } @else {
                  <i-tabler
                    name="user-circle"
                    class="scale-1000 text-gray-400"
                  />
                  } }
                </div>
                <div
                  class="absolute inset-0 bg-black/80 rounded-full opacity-0 group-hover:opacity-100 flex items-center justify-center gap-4 transition-opacity"
                >
                  <button mat-icon-button (click)="triggerFileInput()">
                    <i-tabler name="edit" class="text-white"></i-tabler>
                  </button>
                  @if(avatarUrl()) {
                  <button mat-icon-button (click)="removeAvatar()">
                    <i-tabler name="trash" class="text-red-500"></i-tabler>
                  </button>
                  }
                </div>
                <input
                  #fileInput
                  type="file"
                  class="hidden"
                  accept="image/*"
                  (change)="onFileSelected($event)"
                />
              </div>
            </div>

            <div class="flex-1 grid grid-cols-1 md:grid-cols-2 gap-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="id"></i-tabler>
                  <span class="font-bold">Nombre</span>
                </mat-label>
                <input type="text" matInput formControlName="firstName" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="id"></i-tabler>
                  <span class="font-bold">Apellido</span>
                </mat-label>
                <input type="text" matInput formControlName="lastName" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="id"></i-tabler>
                  <span class="font-bold">Tipo doc.</span>
                </mat-label>
                <mat-select
                  name="dniTypeSelect"
                  formControlName="dniType"
                  [compareWith]="compare"
                >
                  @for(dniType of dniTypes(); track $index){
                  <mat-option [value]="dniType">{{ dniType.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="id"></i-tabler>
                  <span class="font-bold">DNI</span>
                </mat-label>
                <input type="text" matInput formControlName="dni" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label
                  ><span class="font-bold">Fecha de nacimiento</span></mat-label
                >
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="birthDate"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="gender-bigender"></i-tabler>
                  <span class="font-bold">Género</span>
                </mat-label>
                <mat-select
                  name="genderSelect"
                  formControlName="gender"
                  [compareWith]="compare"
                >
                  @for(gender of genders(); track $index){
                  <mat-option [value]="gender">{{ gender.alias }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="user-pin"></i-tabler>
                  <span class="font-bold">Nacionalidad</span>
                </mat-label>
                <mat-select
                  name="genderSelect"
                  formControlName="nationality"
                  [compareWith]="compare"
                >
                  @for(nationality of nationalities(); track $index){
                  <mat-option [value]="nationality">{{
                    nationality.name
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="mb-6">
            <h3 class="text-lg font-semibold mb-4">Datos de Contacto</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="mail"></i-tabler>
                  <span class="font-bold">Email</span>
                </mat-label>
                <input type="mail" matInput formControlName="email" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="phone"></i-tabler>
                  <span class="font-bold">Tipo de Teléfono</span>
                </mat-label>
                <mat-select
                  name="genderSelect"
                  formControlName="phoneType"
                  [compareWith]="compare"
                >
                  @for(phoneType of phoneTypes(); track $index){
                  <mat-option [value]="phoneType">{{
                    phoneType.name
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="phone"></i-tabler>
                  <span class="font-bold">Nro. Teléfono</span>
                </mat-label>
                <input type="string" matInput formControlName="phone" />
              </mat-form-field>
            </div>
          </div>

          @if(showAdditionalInfo()) {
          <div class="mb-6">
            <h3 class="text-lg font-semibold mb-4">Datos de Ubicación</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="map-2"></i-tabler>
                  <span class="font-bold">País</span>
                </mat-label>
                <mat-select
                  name="genderSelect"
                  formControlName="country"
                  [compareWith]="compare"
                >
                  @for(country of countries(); track $index){
                  <mat-option [value]="country">{{ country.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="map-2"></i-tabler>
                  <span class="font-bold">Provincia</span>
                </mat-label>
                <mat-select
                  name="genderSelect"
                  formControlName="province"
                  [compareWith]="compare"
                >
                  @for(province of provinces(); track $index){
                  <mat-option [value]="province">{{
                    province.name
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="map-2"></i-tabler>
                  <span class="font-bold">Localidad</span>
                </mat-label>
                <mat-select
                  name="genderSelect"
                  formControlName="locality"
                  [compareWith]="compare"
                >
                  @for(locality of localities(); track $index){
                  <mat-option [value]="locality">{{
                    locality.name
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="map-pin"></i-tabler>
                  <span class="font-bold">Calle</span>
                </mat-label>
                <input type="string" matInput formControlName="street" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="map-pin"></i-tabler>
                  <span class="font-bold">Altura</span>
                </mat-label>
                <input type="number" matInput formControlName="number" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="building"></i-tabler>
                  <span class="font-bold">Piso</span>
                </mat-label>
                <input type="string" matInput formControlName="floor" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="building"></i-tabler>
                  <span class="font-bold">Departamento</span>
                </mat-label>
                <input type="string" matInput formControlName="apartment" />
              </mat-form-field>
            </div>
          </div>

          <div>
            <h3 class="text-lg font-semibold mb-4">Datos de Obra Social</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="medical-cross"></i-tabler>
                  <span class="font-bold">Obra social</span>
                </mat-label>
                <mat-select
                  name="genderSelect"
                  formControlName="healthPlan"
                  [compareWith]="compare"
                >
                  @for(healthPlan of healthPlans(); track $index){
                  <mat-option [value]="healthPlan">{{
                    healthPlan.name
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="items-center flex gap-1">
                  <i-tabler name="medical-cross"></i-tabler>
                  <span class="font-bold">Nro. Afiliado</span>
                </mat-label>
                <input
                  type="string"
                  matInput
                  formControlName="affiliateNumber"
                />
              </mat-form-field>
            </div>
          </div>
          }
          <div class="flex justify-end gap-2">
            <button mat-button (click)="toggleAdditionalInfo()">
              {{ showAdditionalInfo() ? "Ver menos" : "Ver más" }}
            </button>
            <button
              mat-flat-button
              [disabled]="!patientForm.dirty"
              (click)="savePatient()"
            >
              <div class="flex items-center gap-2">
                <span>Guardar</span>
              </div>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="lg:col-span-4 flex flex-col gap-4">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Odontograma</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="p-4">
          <table mat-table [dataSource]="odontogramData" class="w-full">
            <ng-container matColumnDef="creationDate">
              <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
              <td mat-cell *matCellDef="let element">
                {{ element.creationDate | date : "dd/MM/yyyy" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="lastModified">
              <th mat-header-cell *matHeaderCellDef>Última modificación</th>
              <td mat-cell *matCellDef="let element">
                {{ element.lastModified | date : "dd/MM/yyyy" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  matTooltip="Ver"
                  (click)="openOdontogram()"
                >
                  <i-tabler name="eye"></i-tabler>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          @if(!odontogramData?.length) {
          <div class="flex flex-col items-center justify-center gap-4 mt-4">
            <span>Aún no tienes odontogramas cargados.</span>
            <button mat-flat-button>
              <div class="flex items-center gap-2">
                <i-tabler name="plus"></i-tabler>
                <span>Crear odontograma</span>
              </div>
            </button>
          </div>
          }
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Antecedentes Clínicos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="p-4">
          <div class="p-4 flex flex-col items-center justify-center gap-4">
            <span>Aún no tienes antecedentes clínicos cargados.</span>
            <button mat-flat-button>
              <div class="flex items-center gap-2">
                <i-tabler name="medical-cross"></i-tabler>
                <span>Agregar antecedentes</span>
              </div>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Estudios</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="p-4 flex flex-col items-center justify-center gap-4">
          <span>Aún no tienes estudios cargados.</span>
          <button mat-flat-button>
            <div class="flex items-center gap-2">
              <i-tabler name="search"></i-tabler>
              <span>Crear estudio</span>
            </div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Galería</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="p-4 flex flex-col items-center justify-center gap-4">
          <span>Aún no tienes adjuntos cargados.</span>
          <button mat-flat-button>
            <div class="flex items-center gap-2">
              <i-tabler name="upload"></i-tabler>
              <span>Subir adjunto</span>
            </div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
} @else {
<mat-card appearance="outlined" class="mt-4">
  <mat-card-content>
    <div class="text-center p-4">
      <h2>Vista del Paciente</h2>
      <p>No se encontró información del paciente</p>
    </div>
  </mat-card-content>
</mat-card>
}
