.avatar-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(
    from 180deg at 50% 50%,
    var(--mat-sys-primary) 0deg,
    var(--mat-sys-secondary) 120deg,
    var(--mat-sys-primary-fixed-dim) 240deg,
    var(--mat-sys-primary) 360deg
  );
  padding: 3px;
}

::ng-deep .custom-sidenav-menu.mat-mdc-menu-panel {
  background: var(--mat-sys-surface) !important;
  border-radius: var(--mat-sys-corner-extra-large) !important;
  max-width: 90vw !important;
  margin-top: 10px !important;
  padding: 0 !important;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.1) !important;
}

::ng-deep .custom-nested-menu.mat-mdc-menu-panel {
  background: var(--mat-sys-surface) !important;
  border-radius: var(--mat-sys-corner-large) !important;
  padding: 0 !important;
  margin-top: 4px !important;
}
