<div class="background h-screen flex justify-center items-center">
  <mat-card>
    <div class="bg-white rounded-lg shadow-md p-8 w-120">
      <div class="flex items-center">
        <img src="img/logo-fondo-blanco.jpg" alt="FM Logo" />
      </div>

      <div class="mb-4">
        <h2 class="text-2xl font-bold">Recupero de contraseña</h2>
      </div>

      <form [formGroup]="passwordRecoveryForm">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [type]="hidePassword() ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            type="button"
          >
            <mat-icon>{{
              hidePassword() ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Confirmar contraseña</mat-label>
          <input
            matInput
            [type]="hidePassword() ? 'password' : 'text'"
            formControlName="confirmPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            type="button"
          >
            <mat-icon>{{
              hidePassword() ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          @if(passwordRecoveryForm.hasError('passwordsMismatch')){
          <mat-error>Las contraseñas no coinciden</mat-error>
          }
        </mat-form-field>

        <button mat-flat-button class="w-full mt-4" [disabled]="!isFormValid">
          Recuperar
        </button>
      </form>
    </div>
  </mat-card>
</div>
