<div class="p-8 background-odontogram-container">
  <div
    class="inline-flex items-center justify-center background-odontogram-utilities -mt-4"
  >
    @if(showToolbox){
    <button
      mat-icon-button
      (click)="clearOdontogram()"
      matTooltip="Limpiar"
      matTooltipPosition="above"
    >
      <i-tabler class="mb-1" name="refresh"></i-tabler>
    </button>
    <button
      mat-icon-button
      (click)="treatmentReferencesSidenavService.toggleSidenav()"
      matTooltip="Referencias"
      matTooltipPosition="above"
    >
      <i-tabler class="mb-1" name="notebook"></i-tabler>
    </button>
    }
  </div>
  <div class="flex flex-col">
    <span class="text-xl font-bold text-center mb-4"> {{ title }}</span>
    <div class="flex justify-center">
      <div class="flex mb-2 mr-2">
        @for(tooth of odontogram.upperTeethLeft; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [topTreatments]="tooth.topTreatments"
          [bottomTreatment]="tooth.bottomTreatment"
          [leftTreatment]="tooth.leftTreatment"
          [rightTreatment]="tooth.rightTreatment"
          [centerTreatment]="tooth.centerTreatment"
          [fullToothTreatment]="tooth.fullToothTreatment"
          (fullToothTreatmentChange)="
            onFullToothTreatmentChange(tooth.number, $event)
          "
          (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
          (bottomTreatmentChange)="
            onBottomTreatmentChange(tooth.number, $event)
          "
          (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
          (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
          (centerTreatmentChange)="
            onCenterTreatmentChange(tooth.number, $event)
          "
        ></app-tooth>
        }
      </div>
      <mat-divider vertical="true"></mat-divider>
      <div class="flex ml-2">
        @for(tooth of odontogram.upperTeethRight; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [topTreatments]="tooth.topTreatments"
          [bottomTreatment]="tooth.bottomTreatment"
          [leftTreatment]="tooth.leftTreatment"
          [rightTreatment]="tooth.rightTreatment"
          [centerTreatment]="tooth.centerTreatment"
          [fullToothTreatment]="tooth.fullToothTreatment"
          (fullToothTreatmentChange)="
            onFullToothTreatmentChange(tooth.number, $event)
          "
          (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
          (bottomTreatmentChange)="
            onBottomTreatmentChange(tooth.number, $event)
          "
          (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
          (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
          (centerTreatmentChange)="
            onCenterTreatmentChange(tooth.number, $event)
          "
        ></app-tooth>
        }
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-center">
      <div class="flex mr-2">
        @for(tooth of odontogram.lowerTeethLeft; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [topTreatments]="tooth.topTreatments"
          [bottomTreatment]="tooth.bottomTreatment"
          [leftTreatment]="tooth.leftTreatment"
          [rightTreatment]="tooth.rightTreatment"
          [centerTreatment]="tooth.centerTreatment"
          [fullToothTreatment]="tooth.fullToothTreatment"
          (fullToothTreatmentChange)="
            onFullToothTreatmentChange(tooth.number, $event)
          "
          (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
          (bottomTreatmentChange)="
            onBottomTreatmentChange(tooth.number, $event)
          "
          (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
          (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
          (centerTreatmentChange)="
            onCenterTreatmentChange(tooth.number, $event)
          "
        ></app-tooth>
        }
      </div>
      <mat-divider vertical="true"></mat-divider>
      <div class="flex ml-2">
        @for(tooth of odontogram.lowerTeethRight; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [topTreatments]="tooth.topTreatments"
          [bottomTreatment]="tooth.bottomTreatment"
          [leftTreatment]="tooth.leftTreatment"
          [rightTreatment]="tooth.rightTreatment"
          [centerTreatment]="tooth.centerTreatment"
          [fullToothTreatment]="tooth.fullToothTreatment"
          (fullToothTreatmentChange)="
            onFullToothTreatmentChange(tooth.number, $event)
          "
          (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
          (bottomTreatmentChange)="
            onBottomTreatmentChange(tooth.number, $event)
          "
          (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
          (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
          (centerTreatmentChange)="
            onCenterTreatmentChange(tooth.number, $event)
          "
        ></app-tooth>
        }
      </div>
    </div>
  </div>

  @if(showTemporaries){
  <div class="flex flex-col mt-4">
    <div class="flex justify-center">
      <div class="flex mb-2 mr-2">
        @for(tooth of odontogram.temporaryUpperLeft; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [topTreatments]="tooth.topTreatments"
          [bottomTreatment]="tooth.bottomTreatment"
          [leftTreatment]="tooth.leftTreatment"
          [rightTreatment]="tooth.rightTreatment"
          [centerTreatment]="tooth.centerTreatment"
          [fullToothTreatment]="tooth.fullToothTreatment"
          (fullToothTreatmentChange)="
            onFullToothTreatmentChange(tooth.number, $event)
          "
          (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
          (bottomTreatmentChange)="
            onBottomTreatmentChange(tooth.number, $event)
          "
          (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
          (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
          (centerTreatmentChange)="
            onCenterTreatmentChange(tooth.number, $event)
          "
        ></app-tooth>
        }
      </div>
      <mat-divider vertical="true"></mat-divider>
      <div class="flex ml-2">
        @for(tooth of odontogram.temporaryUpperRight; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [topTreatments]="tooth.topTreatments"
          [bottomTreatment]="tooth.bottomTreatment"
          [leftTreatment]="tooth.leftTreatment"
          [rightTreatment]="tooth.rightTreatment"
          [centerTreatment]="tooth.centerTreatment"
          [fullToothTreatment]="tooth.fullToothTreatment"
          (fullToothTreatmentChange)="
            onFullToothTreatmentChange(tooth.number, $event)
          "
          (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
          (bottomTreatmentChange)="
            onBottomTreatmentChange(tooth.number, $event)
          "
          (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
          (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
          (centerTreatmentChange)="
            onCenterTreatmentChange(tooth.number, $event)
          "
        ></app-tooth>
        }
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-center">
      <div class="flex mr-2">
        @for(tooth of odontogram.temporaryLowerLeft; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [topTreatments]="tooth.topTreatments"
          [bottomTreatment]="tooth.bottomTreatment"
          [leftTreatment]="tooth.leftTreatment"
          [rightTreatment]="tooth.rightTreatment"
          [centerTreatment]="tooth.centerTreatment"
          [fullToothTreatment]="tooth.fullToothTreatment"
          (fullToothTreatmentChange)="
            onFullToothTreatmentChange(tooth.number, $event)
          "
          (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
          (bottomTreatmentChange)="
            onBottomTreatmentChange(tooth.number, $event)
          "
          (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
          (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
          (centerTreatmentChange)="
            onCenterTreatmentChange(tooth.number, $event)
          "
        ></app-tooth>
        }
      </div>
      <mat-divider vertical="true"></mat-divider>
      <div class="flex ml-2">
        @for(tooth of odontogram.temporaryLowerRight; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [topTreatments]="tooth.topTreatments"
          [bottomTreatment]="tooth.bottomTreatment"
          [leftTreatment]="tooth.leftTreatment"
          [rightTreatment]="tooth.rightTreatment"
          [centerTreatment]="tooth.centerTreatment"
          [fullToothTreatment]="tooth.fullToothTreatment"
          (fullToothTreatmentChange)="
            onFullToothTreatmentChange(tooth.number, $event)
          "
          (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
          (bottomTreatmentChange)="
            onBottomTreatmentChange(tooth.number, $event)
          "
          (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
          (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
          (centerTreatmentChange)="
            onCenterTreatmentChange(tooth.number, $event)
          "
        ></app-tooth>
        }
      </div>
    </div>
  </div>
  }
</div>
