.background-odontogram-container {
  border-radius: 18px;
  background: var(--mat-sys-home-sidenav-content-background);
}

.background-odontogram-utilities {
  border-radius: 18px;
  background: var(--mat-sys-odontogram-container-background);
}
