<div class="flex flex-col">
  <span class="text-xl font-bold text-center mb-4">Estado Actual</span>
  <div class="flex">
    <div class="flex mb-2 mr-2">
      @for(tooth of odontogram.upperTeethLeft; track $index){
      <app-tooth
        [toothNumber]="tooth.number"
        [topTreatment]="tooth.topTreatment"
        [bottomTreatment]="tooth.bottomTreatment"
        [leftTreatment]="tooth.leftTreatment"
        [rightTreatment]="tooth.rightTreatment"
        [centerTreatment]="tooth.centerTreatment"
        (fullToothTreatmentChange)="
          onFullToothTreatmentChange(tooth.number, $event)
        "
        (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
        (bottomTreatmentChange)="onBottomTreatmentChange(tooth.number, $event)"
        (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
        (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
        (centerTreatmentChange)="onCenterTreatmentChange(tooth.number, $event)"
      ></app-tooth>
      }
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="flex ml-2">
      @for(tooth of odontogram.upperTeethRight; track $index){
      <app-tooth
        [toothNumber]="tooth.number"
        [topTreatment]="tooth.topTreatment"
        [bottomTreatment]="tooth.bottomTreatment"
        [leftTreatment]="tooth.leftTreatment"
        [rightTreatment]="tooth.rightTreatment"
        [centerTreatment]="tooth.centerTreatment"
        (fullToothTreatmentChange)="
          onFullToothTreatmentChange(tooth.number, $event)
        "
        (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
        (bottomTreatmentChange)="onBottomTreatmentChange(tooth.number, $event)"
        (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
        (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
        (centerTreatmentChange)="onCenterTreatmentChange(tooth.number, $event)"
      ></app-tooth>
      }
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="flex">
    <div class="flex mr-2">
      @for(tooth of odontogram.lowerTeethLeft; track $index){
      <app-tooth
        [toothNumber]="tooth.number"
        [topTreatment]="tooth.topTreatment"
        [bottomTreatment]="tooth.bottomTreatment"
        [leftTreatment]="tooth.leftTreatment"
        [rightTreatment]="tooth.rightTreatment"
        [centerTreatment]="tooth.centerTreatment"
        (fullToothTreatmentChange)="
          onFullToothTreatmentChange(tooth.number, $event)
        "
        (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
        (bottomTreatmentChange)="onBottomTreatmentChange(tooth.number, $event)"
        (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
        (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
        (centerTreatmentChange)="onCenterTreatmentChange(tooth.number, $event)"
      ></app-tooth>
      }
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="flex ml-2">
      @for(tooth of odontogram.lowerTeethRight; track $index){
      <app-tooth
        [toothNumber]="tooth.number"
        [topTreatment]="tooth.topTreatment"
        [bottomTreatment]="tooth.bottomTreatment"
        [leftTreatment]="tooth.leftTreatment"
        [rightTreatment]="tooth.rightTreatment"
        [centerTreatment]="tooth.centerTreatment"
        (fullToothTreatmentChange)="
          onFullToothTreatmentChange(tooth.number, $event)
        "
        (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
        (bottomTreatmentChange)="onBottomTreatmentChange(tooth.number, $event)"
        (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
        (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
        (centerTreatmentChange)="onCenterTreatmentChange(tooth.number, $event)"
      ></app-tooth>
      }
    </div>
  </div>
</div>

<div class="flex flex-col mt-4">
  <div class="flex justify-center">
    <div class="flex mb-2 mr-2">
      @for(tooth of odontogram.temporaryUpperLeft; track $index){
      <app-tooth
        [toothNumber]="tooth.number"
        [topTreatment]="tooth.topTreatment"
        [bottomTreatment]="tooth.bottomTreatment"
        [leftTreatment]="tooth.leftTreatment"
        [rightTreatment]="tooth.rightTreatment"
        [centerTreatment]="tooth.centerTreatment"
        (fullToothTreatmentChange)="
          onFullToothTreatmentChange(tooth.number, $event)
        "
        (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
        (bottomTreatmentChange)="onBottomTreatmentChange(tooth.number, $event)"
        (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
        (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
        (centerTreatmentChange)="onCenterTreatmentChange(tooth.number, $event)"
      ></app-tooth>
      }
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="flex ml-2">
      @for(tooth of odontogram.temporaryUpperRight; track $index){
      <app-tooth
        [toothNumber]="tooth.number"
        [topTreatment]="tooth.topTreatment"
        [bottomTreatment]="tooth.bottomTreatment"
        [leftTreatment]="tooth.leftTreatment"
        [rightTreatment]="tooth.rightTreatment"
        [centerTreatment]="tooth.centerTreatment"
        (fullToothTreatmentChange)="
          onFullToothTreatmentChange(tooth.number, $event)
        "
        (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
        (bottomTreatmentChange)="onBottomTreatmentChange(tooth.number, $event)"
        (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
        (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
        (centerTreatmentChange)="onCenterTreatmentChange(tooth.number, $event)"
      ></app-tooth>
      }
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="flex justify-center">
    <div class="flex mr-2">
      @for(tooth of odontogram.temporaryLowerLeft; track $index){
      <app-tooth
        [toothNumber]="tooth.number"
        [topTreatment]="tooth.topTreatment"
        [bottomTreatment]="tooth.bottomTreatment"
        [leftTreatment]="tooth.leftTreatment"
        [rightTreatment]="tooth.rightTreatment"
        [centerTreatment]="tooth.centerTreatment"
        (fullToothTreatmentChange)="
          onFullToothTreatmentChange(tooth.number, $event)
        "
        (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
        (bottomTreatmentChange)="onBottomTreatmentChange(tooth.number, $event)"
        (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
        (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
        (centerTreatmentChange)="onCenterTreatmentChange(tooth.number, $event)"
      ></app-tooth>
      }
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="flex ml-2">
      @for(tooth of odontogram.temporaryLowerRight; track $index){
      <app-tooth
        [toothNumber]="tooth.number"
        [topTreatment]="tooth.topTreatment"
        [bottomTreatment]="tooth.bottomTreatment"
        [leftTreatment]="tooth.leftTreatment"
        [rightTreatment]="tooth.rightTreatment"
        [centerTreatment]="tooth.centerTreatment"
        (fullToothTreatmentChange)="
          onFullToothTreatmentChange(tooth.number, $event)
        "
        (topTreatmentChange)="onTopTreatmentChange(tooth.number, $event)"
        (bottomTreatmentChange)="onBottomTreatmentChange(tooth.number, $event)"
        (leftTreatmentChange)="onLeftTreatmentChange(tooth.number, $event)"
        (rightTreatmentChange)="onRightTreatmentChange(tooth.number, $event)"
        (centerTreatmentChange)="onCenterTreatmentChange(tooth.number, $event)"
      ></app-tooth>
      }
    </div>
  </div>
</div>
