<div class="p-8 background-odontogram-container">
  <div
    class="inline-flex items-center justify-center background-odontogram-utilities -mt-4"
  >
    @if(showToolbox){
    <button
      mat-icon-button
      (click)="treatmentReferencesSidenavService.toggleSidenav()"
      matTooltip="Referencias"
      matTooltipPosition="above"
    >
      <i-tabler class="mb-1" name="notebook"></i-tabler>
    </button>
    }
  </div>
  <div class="flex flex-col relative">
    <svg
      class="absolute inset-0 w-full h-full pointer-events-none"
      style="z-index: 10"
    >
      <!-- Puentes superiores -->
      @for(bridge of bridgeConnections; track bridge.startTooth){
      @if(isUpperTooth(bridge.startTooth) && isUpperTooth(bridge.endTooth)){
      <!-- Línea horizontal principal -->
      <line
        [attr.x1]="getToothPosition(bridge.startTooth).x + 3"
        [attr.y1]="getToothPosition(bridge.startTooth).y + 35"
        [attr.x2]="getToothPosition(bridge.endTooth).x + 3"
        [attr.y2]="getToothPosition(bridge.endTooth).y + 35"
        [attr.stroke]="
          bridge.treatment.treatmentType === treatmentTypeEnum.REQUIRED
            ? '#2b7fff'
            : '#fb2c36'
        "
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"
        opacity="0.8"
      />
      <!-- Línea vertical para el diente inicial -->
      <line
        [attr.x1]="getToothPosition(bridge.startTooth).x + 3"
        [attr.y1]="getToothPosition(bridge.startTooth).y + 35"
        [attr.x2]="getToothPosition(bridge.startTooth).x + 3"
        [attr.y2]="getToothPosition(bridge.startTooth).y + 50"
        [attr.stroke]="
          bridge.treatment.treatmentType === treatmentTypeEnum.REQUIRED
            ? '#2b7fff'
            : '#fb2c36'
        "
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"
        opacity="0.8"
      />
      <!-- Línea vertical para el diente final -->
      <line
        [attr.x1]="getToothPosition(bridge.endTooth).x + 3"
        [attr.y1]="getToothPosition(bridge.endTooth).y + 35"
        [attr.x2]="getToothPosition(bridge.endTooth).x + 3"
        [attr.y2]="getToothPosition(bridge.endTooth).y + 50"
        [attr.stroke]="
          bridge.treatment.treatmentType === treatmentTypeEnum.REQUIRED
            ? '#2b7fff'
            : '#fb2c36'
        "
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"
        opacity="0.8"
      />
      } }

      <!-- Puentes inferiores -->
      @for(bridge of bridgeConnections; track bridge.startTooth){
      @if(!isUpperTooth(bridge.startTooth) && !isUpperTooth(bridge.endTooth)){
      <!-- Línea horizontal principal -->
      <line
        [attr.x1]="getToothPosition(bridge.startTooth).x + 3"
        [attr.y1]="getToothPosition(bridge.startTooth).y + 85"
        [attr.x2]="getToothPosition(bridge.endTooth).x + 3"
        [attr.y2]="getToothPosition(bridge.endTooth).y + 85"
        [attr.stroke]="
          bridge.treatment.treatmentType === treatmentTypeEnum.REQUIRED
            ? '#2b7fff'
            : '#fb2c36'
        "
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"
        opacity="0.8"
      />
      <!-- Línea vertical para el diente inicial -->
      <line
        [attr.x1]="getToothPosition(bridge.startTooth).x + 3"
        [attr.y1]="getToothPosition(bridge.startTooth).y + 100"
        [attr.x2]="getToothPosition(bridge.startTooth).x + 3"
        [attr.y2]="getToothPosition(bridge.startTooth).y + 85"
        [attr.stroke]="
          bridge.treatment.treatmentType === treatmentTypeEnum.REQUIRED
            ? '#2b7fff'
            : '#fb2c36'
        "
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"
        opacity="0.8"
      />
      <!-- Línea vertical para el diente final -->
      <line
        [attr.x1]="getToothPosition(bridge.endTooth).x + 3"
        [attr.y1]="getToothPosition(bridge.endTooth).y + 100"
        [attr.x2]="getToothPosition(bridge.endTooth).x + 3"
        [attr.y2]="getToothPosition(bridge.endTooth).y + 85"
        [attr.stroke]="
          bridge.treatment.treatmentType === treatmentTypeEnum.REQUIRED
            ? '#2b7fff'
            : '#fb2c36'
        "
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"
        opacity="0.8"
      />
      } }
    </svg>

    <span class="text-xl font-bold text-center mb-4"> {{ title }}</span>
    <div class="flex justify-center">
      <div class="flex mb-2 mr-2">
        @for(tooth of odontogram.upperTeethLeft; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [treatments]="tooth.treatments!"
          (treatmentsChange)="onTreatmentsChange(tooth.number, $event)"
        ></app-tooth>
        }
      </div>
      <mat-divider vertical="true"></mat-divider>
      <div class="flex ml-2">
        @for(tooth of odontogram.upperTeethRight; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [treatments]="tooth.treatments!"
          (treatmentsChange)="onTreatmentsChange(tooth.number, $event)"
        ></app-tooth>
        }
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-center">
      <div class="flex mr-2">
        @for(tooth of odontogram.lowerTeethLeft; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [treatments]="tooth.treatments!"
          (treatmentsChange)="onTreatmentsChange(tooth.number, $event)"
        ></app-tooth>
        }
      </div>
      <mat-divider vertical="true"></mat-divider>
      <div class="flex ml-2">
        @for(tooth of odontogram.lowerTeethRight; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [treatments]="tooth.treatments!"
          (treatmentsChange)="onTreatmentsChange(tooth.number, $event)"
        ></app-tooth>
        }
      </div>
    </div>
  </div>

  @if(showTemporaries){
  <div class="flex flex-col mt-4">
    <div class="flex justify-center">
      <div class="flex mb-2 mr-2">
        @for(tooth of odontogram.temporaryUpperLeft; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [treatments]="tooth.treatments!"
          (treatmentsChange)="onTreatmentsChange(tooth.number, $event)"
        ></app-tooth>
        }
      </div>
      <mat-divider vertical="true"></mat-divider>
      <div class="flex ml-2">
        @for(tooth of odontogram.temporaryUpperRight; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [treatments]="tooth.treatments!"
          (treatmentsChange)="onTreatmentsChange(tooth.number, $event)"
        ></app-tooth>
        }
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-center">
      <div class="flex mr-2">
        @for(tooth of odontogram.temporaryLowerLeft; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [treatments]="tooth.treatments!"
          (treatmentsChange)="onTreatmentsChange(tooth.number, $event)"
        ></app-tooth>
        }
      </div>
      <mat-divider vertical="true"></mat-divider>
      <div class="flex ml-2">
        @for(tooth of odontogram.temporaryLowerRight; track $index){
        <app-tooth
          [toothNumber]="tooth.number"
          [treatments]="tooth.treatments!"
          (treatmentsChange)="onTreatmentsChange(tooth.number, $event)"
        ></app-tooth>
        }
      </div>
    </div>
  </div>
  }
</div>
