<app-page-toolbar [title]="'Roles'"></app-page-toolbar>

<mat-card appearance="outlined" class="mt-4">
  <mat-card-content>
    <div class="w-1/2 flex mt-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Buscar rol</mat-label>
        <input type="text" matInput [formControl]="roleFilter" />
        <i-tabler matSuffix name="search" class="mx-4"></i-tabler>
      </mat-form-field>
    </div>
    <div class="overflow-x-auto">
      @if(canRead()){ @if(rolesDataSource.data.length === 0) {
      <div class="flex flex-col items-center justify-center py-8">
        <mat-chip>No se encontraron roles</mat-chip>
      </div>
      } @else {
      <table mat-table [dataSource]="rolesDataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Alias</th>
          <td mat-cell *matCellDef="let element">{{ element.label }}</td>
        </ng-container>

        @if(canUpdate()){
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Acción</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              matTooltip="Editar"
              matTooltipPosition="right"
              (click)="editRole(element)"
            >
              <i-tabler name="edit"></i-tabler>
            </button>
          </td>
        </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="roleDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: roleDisplayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10]"
        showFirstLastButtons="true"
        aria-label="Seleccionar página de roles"
      ></mat-paginator>
      } } @else {
      <div class="flex items-center justify-center">
        <mat-chip>No tienes permisos para acceder a este recurso. </mat-chip>
      </div>
      }
    </div>
  </mat-card-content>
</mat-card>
