<app-page-toolbar [title]="'Registro de Consultas'"></app-page-toolbar>
<mat-card appearance="outlined" class="mt-4">
  <!-- <mat-stepper #stepper class="p-2 rounded-full">
    <mat-step
      [stepControl]="patientForm"
      errorMessage="Debe seleccionar un paciente."
    >
      <ng-template matStepLabel>Información del Paciente</ng-template>
      <ng-template matStepContent>
        <form [formGroup]="patientForm">
          <div class="my-2">
            <div class="flex justify-center gap-4">
              <div class="w-full">
                <app-patient-search
                  [showCreatePatientButton]="true"
                ></app-patient-search>
              </div>
            </div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form></ng-template
      >
    </mat-step>

    <mat-step
      [stepControl]="patientForm"
      errorMessage="La información no está correcta."
    >
      <ng-template matStepLabel>Odontograma</ng-template>
      <ng-template matStepContent>
        <div class="my-2 w-full odontogram-container">
          <div class="odontogram-wrapper gap-2">
            <app-odontogram
              [title]="'Estado Inicial'"
              [odontogram]="odontogram"
              [showToolbox]="true"
              [showDateSelector]="true"
              [showTemporaries]="true"
            ></app-odontogram>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div></ng-template
      >
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Pago</ng-template>
      <ng-template matStepContent>
        <app-payment-register></app-payment-register>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div></ng-template
      >
    </mat-step>

    <mat-step
      [stepControl]="patientForm"
      errorMessage="La información no está correcta."
    >
      <ng-template matStepLabel>Finalizar consulta</ng-template>
      <ng-template matStepContent>
        <form [formGroup]="patientForm">
          <div class="flex flex-col items-center">
            <h2 class="text-lg font-semibold mb-4">Resumen de la Consulta</h2>
          </div>
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button (click)="finalizeConsultation()">
              Finalizar consulta
            </button>
          </div>
        </form></ng-template
      >
    </mat-step>
  </mat-stepper> -->
</mat-card>
