<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <div class="flex justify-center pt-2">
      <img src="img/logo.jpg" alt="Logo" class="sidenav-logo" />
    </div>

    <mat-nav-list>
      <div class="space-y-4 mt-4 p-3">
        @for(menu of filteredMenuItems; track menu.label){
        <mat-list-item
          class="list-item-menu"
          [matTooltip]="menu.label"
          matTooltipPosition="right"
          [routerLink]="menu.route"
          routerLinkActive="active-link"
        >
          <i-tabler class="mt-1" [name]="menu.icon"></i-tabler>
        </mat-list-item>
        }
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer
    #referencesDrawer
    mode="side"
    position="end"
    [opened]="treatmentReferencesService.sidenavOpen()"
    class="references-sidenav"
  >
    <app-treatment-references></app-treatment-references>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar class="gap-3 main-toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <i-tabler name="menu"></i-tabler>
      </button>
      <h1>Odontología Integral FM</h1>
      <span class="spacer"></span>
      <!-- <button mat-icon-button matBadge="4">
        <i-tabler name="bell"></i-tabler>
      </button> -->
      <button
        mat-icon-button
        (click)="fullScreenService.toggleFullscreen()"
        matTooltip="Pantalla completa"
      >
        <i-tabler
          [name]="
            fullScreenService.isFullscreen() ? 'maximize-off' : 'maximize'
          "
        ></i-tabler>
      </button>
      <button mat-icon-button (click)="toggleTheme()">
        <i-tabler
          [name]="currentTheme().id === 'dark' ? 'moon' : 'sun'"
        ></i-tabler>
      </button>

      <button mat-button [matMenuTriggerFor]="menu">
        <div class="flex items-center gap-1">
          <img
            [src]="avatar ? avatar : 'img/doctor-avatar.png'"
            alt="Avatar"
            class="avatar-icon object-cover"
          />
          <i-tabler name="chevron-down"></i-tabler>
        </div>
      </button>

      <mat-menu #menu="matMenu">
        <div class="flex flex-col items-center justify-center p-4">
          <img
            [src]="avatar ? avatar : 'img/doctor-avatar.png'"
            alt="Avatar"
            class="avatar-icon-menu object-cover"
          />
          <div class="overflow-hidden text-ellipsis flex flex-col items-center">
            <span class="text-lg"
              >{{ userData?.person?.firstName }}
              {{ userData?.person?.lastName }}</span
            >
            <span> {{ userData?.username }} </span>
            <span class="text-blue-500 uppercase"> {{ getRoles() }} </span>
          </div>
        </div>
        <mat-divider class="custom-divider"></mat-divider>
        <button mat-menu-item (click)="goToProfile()">
          <div class="flex items-center">
            <i-tabler name="user-circle"></i-tabler>
            <span class="ml-1">Mi perfil</span>
          </div>
        </button>
        <button mat-menu-item (click)="logout()">
          <div class="flex items-center">
            <i-tabler name="logout-2"></i-tabler>
            <span class="ml-1">Cerrar sesión</span>
          </div>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="content-background flex-grow overflow-y-auto m-4 mt-0 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
