@if(treatment?.name === 'DUAL_TREATMENT') {
<div class="relative flex items-center justify-center">
  <i-tabler name="circle-filled" class="text-blue-500 scale-100"></i-tabler>
  <i-tabler
    name="circle-filled"
    class="text-red-500 scale-65 absolute"
  ></i-tabler>
</div>
} @else if(treatment?.name === 'CARIES' || treatment?.name === 'OBT_COMPOSITE')
{ @for(icon of getTreatmentIcons(treatment!); track $index) {
<i-tabler
  [name]="icon"
  [ngClass]="getColor(treatment?.treatmentType!)"
  class="scale-90"
></i-tabler>
} } @else if(righties.includes(faceType!)) {
<i-tabler name="rectangle-rounded-top"></i-tabler>
} @else if(lefties.includes(faceType!)) {
<i-tabler name="rectangle-rounded-bottom"></i-tabler>
} @else {
<i-tabler name="square"></i-tabler>
}
