@if(treatment?.name === 'CARIES'){ @for(icon of getTreatmentIcons(treatment!);
track $index){
<i-tabler
  [name]="icon"
  [ngClass]="
    calculateMargin($index, getTreatmentIcons(treatment!).length) +
    ' ' +
    getColor(treatment!.treatmentType)
  "
></i-tabler>
} } @else if(righties.includes(faceType!)) {
<i-tabler name="rectangle-rounded-top"></i-tabler>
} @else if(lefties.includes(faceType!)){
<i-tabler name="rectangle-rounded-bottom"></i-tabler>
} @else {
<i-tabler name="square"></i-tabler>
}
