<app-page-toolbar
  [title]="'Odontograma'"
  [showBackButton]="true"
  (back)="goBack()"
></app-page-toolbar>

<mat-card appearance="outlined" class="mt-4">
  <mat-card-content>
    <div class="w-full odontogram-container">
      <div class="odontogram-wrapper">
        <app-odontogram
          [odontogram]="odontogram"
          [showToolbox]="true"
          [showTemporaries]="true"
        ></app-odontogram>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-flat-button (click)="saveOdontogram()">
      <div class="flex items-center">
        <span>Guardar</span>
      </div>
    </button>
  </mat-card-actions>
</mat-card>
