.background-canceled {
  background: rgb(245, 101, 101, 0.2);
}

.background-finalized {
  background: rgb(16, 185, 129, 0.2);
}

.background-waiting {
  background: rgb(249, 194, 10, 0.2);
}

.background-in-progress {
  background: rgb(251, 146, 60, 0.2);
}

.background-pending-payment {
  background: rgb(99, 91, 255, 0.2);
}

.background-scheduled {
  background: rgb(56, 189, 248, 0.2);
}
