<div class="flex flex-col h-full">
  <app-page-toolbar
    [title]="'Gestión de Turnos'"
    [totalCount]="appointments().length"
    [showSearch]="true"
    [searchPlaceholder]="'Buscar paciente'"
    [searchValue]="patientSearchControl.value"
    (searchChange)="patientSearchControl.setValue($event)"
    [showSelectFilter]="true"
    [selectFilterPlaceholder]="'Profesionales'"
    [selectFilterIcon]="'nurse'"
    [selectFilterOptions]="dentistsOptions()"
    [selectFilterValue]="professionalsControl.value"
    (selectFilterChange)="professionalsControl.setValue($any($event))"
    [showViewMode]="true"
    [viewMode]="viewMode()"
    (viewModeChange)="viewMode.set($event)"
    [showActionButton]="canCreate"
    [actionButtonIcon]="'plus'"
    [actionButtonText]="'Nuevo turno'"
    (action)="createAppointment()"
  ></app-page-toolbar>

  <div class="mt-4 rounded-[var(--mat-sys-corner-medium)]">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 gap-4">
      <mat-card
        class="cursor-pointer background-scheduled transition-all duration-300"
        appearance="outlined"
        [class.scale-102]="activeFilter() === 'Agendado'"
        [style.borderColor]="activeFilter() === 'Agendado' ? '#38bdf8' : ''"
        [style.boxShadow]="
          activeFilter() === 'Agendado' ? '0 0 0 1px #38bdf8' : ''
        "
        (click)="toggleScheduled()"
      >
        <mat-card-content>
          <div class="flex items-center justify-start gap-4">
            <div class="rounded-xl bg-[#38bdf8] flex p-2">
              <i-tabler
                class="text-white scale-130"
                name="calendar-event"
              ></i-tabler>
            </div>
            <div class="flex-col flex">
              <span class="text-sm">Agendados</span>
              <span class="font-bold">{{ scheduledCount() }} pacientes</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card
        class="cursor-pointer background-waiting transition-all duration-300"
        appearance="outlined"
        [class.scale-102]="activeFilter() === 'En espera'"
        [style.borderColor]="activeFilter() === 'En espera' ? '#f9c20a' : ''"
        [style.boxShadow]="
          activeFilter() === 'En espera' ? '0 0 0 1px #f9c20a' : ''
        "
        (click)="toggleWaiting()"
      >
        <mat-card-content>
          <div class="flex items-center justify-start gap-4">
            <div class="rounded-xl bg-[#f9c20a] flex p-2">
              <i-tabler
                class="text-white scale-130"
                name="hourglass"
              ></i-tabler>
            </div>
            <div class="flex-col flex">
              <span class="text-sm">En espera</span>
              <span class="font-bold">{{ waitingCount() }} pacientes</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card
        class="cursor-pointer background-in-progress transition-all duration-300"
        appearance="outlined"
        [class.scale-102]="activeFilter() === 'En consulta'"
        [style.borderColor]="activeFilter() === 'En consulta' ? '#fb923c' : ''"
        [style.boxShadow]="
          activeFilter() === 'En consulta' ? '0 0 0 1px #fb923c' : ''
        "
        (click)="toggleInProgress()"
      >
        <mat-card-content>
          <div class="flex items-center justify-start gap-4">
            <div class="rounded-xl bg-[#fb923c] flex p-2">
              <i-tabler
                class="text-white scale-130"
                name="stethoscope"
              ></i-tabler>
            </div>
            <div class="flex-col flex">
              <span class="text-sm">En consulta</span>
              <span class="font-bold">{{ inProgressCount() }} pacientes</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card
        class="cursor-pointer background-pending-payment transition-all duration-300"
        appearance="outlined"
        [class.scale-102]="activeFilter() === 'Pendiente de pago'"
        [style.borderColor]="
          activeFilter() === 'Pendiente de pago' ? '#635bff' : ''
        "
        [style.boxShadow]="
          activeFilter() === 'Pendiente de pago' ? '0 0 0 1px #635bff' : ''
        "
        (click)="togglePendingPayment()"
      >
        <mat-card-content>
          <div class="flex items-center justify-start gap-4">
            <div class="rounded-xl bg-[#635bff] flex p-2">
              <i-tabler
                class="text-white scale-130"
                name="credit-card"
              ></i-tabler>
            </div>
            <div class="flex-col flex">
              <span class="text-sm">Pendientes de pago</span>
              <span class="font-bold"
                >{{ pendingPaymentCount() }} pacientes</span
              >
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card
        class="cursor-pointer background-finalized transition-all duration-300"
        appearance="outlined"
        [style.borderColor]="activeFilter() === 'Finalizada' ? '#10b981' : ''"
        [style.boxShadow]="
          activeFilter() === 'Finalizada' ? '0 0 0 1px #10b981' : ''
        "
        (click)="toggleFinalized()"
      >
        <mat-card-content>
          <div class="flex items-center justify-start gap-4">
            <div class="rounded-xl bg-[#10b981] flex p-2">
              <i-tabler
                class="text-white scale-130"
                name="circle-check"
              ></i-tabler>
            </div>
            <div class="flex-col flex">
              <span class="text-sm">Finalizados</span>
              <span class="font-bold">{{ finalizedCount() }} pacientes</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card
        class="cursor-pointer background-canceled transition-all duration-300"
        appearance="outlined"
        [class.scale-102]="activeFilter() === 'Cancelada'"
        [style.borderColor]="activeFilter() === 'Cancelada' ? '#f56565' : ''"
        [style.boxShadow]="
          activeFilter() === 'Cancelada' ? '0 0 0 1px #f56565' : ''
        "
        (click)="toggleCanceled()"
      >
        <mat-card-content>
          <div class="flex items-center justify-start gap-4">
            <div class="rounded-xl bg-[#f56565] flex p-2">
              <i-tabler class="text-white scale-130" name="circle-x"></i-tabler>
            </div>
            <div class="flex-col flex">
              <span class="text-sm">Cancelados</span>
              <span class="font-bold">{{ canceledCount() }} pacientes</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    @if (viewMode() === "table") {
      <div class="mt-4">
        <app-appointments-table
          [appointments]="appointments()"
          (actionPerformed)="_loadData()"
        />
      </div>
    } @else {
      <div class="my-4">
        <app-appointments-cards
          [appointments]="appointments()"
          (actionPerformed)="_loadData()"
        />
      </div>
    }
  </div>
</div>
