<h2 mat-dialog-title>Editar Parámetro</h2>
<mat-dialog-content>
  <div class="mt-1">
    <form [formGroup]="systemParameterForm" class="mt-1">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Decripción</mat-label>
        <input matInput formControlName="description" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Valor</mat-label>
        <input matInput type="number" formControlName="value" />
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-flat-button
    [mat-dialog-close]="systemParameterData()"
    [disabled]="!systemParameterForm.valid"
    cdkFocusInitial
  >
    Guardar
  </button>
</mat-dialog-actions>
