<button
  matIconButton
  [matMenuTriggerFor]="menu"
  matTooltip="Acciones"
  matTooltipPosition="left"
  aria-label="Abrir menú de acciones"
>
  <i-tabler name="dots-vertical"></i-tabler>
</button>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item>
    <div class="flex items-center gap-2 text-[var(--mat-sys-primary)]">
      <i-tabler name="circle-caret-right"></i-tabler>
      <span>Iniciar consulta</span>
    </div>
  </button>
  <button mat-menu-item>
    <div
      class="flex items-center gap-2 text-[var(--mat-sys-on-surface-variant-muted)]"
    >
      <i-tabler name="report-search"></i-tabler>
      <span>Ver ficha médica</span>
    </div>
  </button>
  <button mat-menu-item>
    <div
      class="flex items-center gap-2 text-[var(--mat-sys-on-surface-variant-muted)]"
    >
      <i-tabler name="calendar-time"></i-tabler>
      <span>Reprogramar</span>
    </div>
  </button>
  <button mat-menu-item>
    <div
      class="flex items-center gap-2 text-[var(--mat-sys-on-surface-variant-muted)]"
    >
      <i-tabler name="refresh"></i-tabler>
      <span>Cambiar de estado</span>
    </div>
  </button>
  <button mat-menu-item>
    <div
      class="flex items-center gap-2 text-[var(--mat-sys-on-surface-variant-muted)]"
    >
      <i-tabler name="credit-card-pay"></i-tabler>
      <span>Registrar pago</span>
    </div>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <div class="flex items-center gap-2 text-red-500">
      <i-tabler name="calendar-cancel"></i-tabler>
      <span>Cancelar turno</span>
    </div>
  </button>
</mat-menu>
