<div class="p-2">
  <div class="flex items-center justify-start mb-4">
    <button
      mat-icon-button
      (click)="treatmentReferencesSidenavService.toggleSidenav()"
      matTooltip="Cerrar"
      matTooltipPosition="left"
    >
      <i-tabler name="xbox-x" class="mb-1"></i-tabler>
    </button>
    <span class="ml-2 text-lg font-semibold">Referencias</span>
  </div>

  @for(treatment of treatments; track $index){
  <div class="flex items-center justify-start mb-4 space-x-2 ml-2">
    @if(treatment.name === treatmentEnum.PUENTE){
    <div class="flex items-center justify-center relative">
      <i-tabler class="rotate-180" name="space"></i-tabler>
    </div>
    } @else {
    <div class="flex">
      @for(icon of treatment.icons; track $index){
      <i-tabler
        [name]="icon"
        [ngClass]="[calculateMargin($index, treatment.icons!.length)]"
      ></i-tabler>
      }
    </div>
    }
    <span class="text-sm">{{ treatment.label }}</span>
  </div>
  }
  <div class="flex flex-col items-center justify-start space-y-2 ml-2">
    <div class="flex items-center space-x-2">
      <div class="w-4 h-4 rounded-full bg-red-500"></div>
      <span class="text-sm">Prestación existente</span>
    </div>
    <div class="flex items-center space-x-2">
      <div class="w-4 h-4 rounded-full bg-blue-500"></div>
      <span class="text-sm">Prestación requerida</span>
    </div>
  </div>
</div>
