// ========================================
// Estilos Globales de la Aplicación
// ========================================
// Importar módulos de estilos
@use "styles/scrollbar";
@use "styles/utilities";
@use "styles/components";
@use "styles/animations";
@use "styles/material-overrides";

// Custom Theming for Angular Material
@use "@angular/material" as mat;
@use "tailwindcss";
@import "./app/themes/themes.css";

// ========================================
// Estilos Base del Body
// ========================================
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}
