<mat-card appearance="outlined" class="h-full flex flex-col animate-pulse">
  <!-- HEADER -->
  <mat-card-header class="flex items-start gap-3 !pb-0">
    <!-- Avatar Skeleton -->
    <div
      class="w-14 h-14 rounded-full bg-[var(--mat-sys-surface-variant)] border-2 border-[var(--mat-sys-outline-variant)] shrink-0 mt-1"
    ></div>

    <!-- Title and Subtitle Skeleton -->
    <div class="flex flex-col flex-1 min-w-0 pt-2 gap-2">
      <div class="h-5 w-3/4 bg-[var(--mat-sys-surface-variant)] rounded"></div>
      <div
        class="h-3 w-1/2 bg-[var(--mat-sys-surface-variant)] rounded mt-1"
      ></div>
    </div>

    <!-- Actions button Skeleton -->
    <div
      class="!ml-auto shrink-0 -mt-1 w-10 h-10 rounded-full bg-[var(--mat-sys-surface-variant)] bg-transparent"
    ></div>
  </mat-card-header>

  <!-- CONTENT -->
  <mat-card-content class="!flex !flex-col !gap-3 !flex-1 !pt-4">
    <mat-divider class="!my-1 opacity-40"></mat-divider>

    <!-- Item 1 Skeleton -->
    <div class="flex flex-col gap-1.5 mt-1">
      <div class="h-2 w-12 bg-[var(--mat-sys-surface-variant)] rounded"></div>
      <div class="flex items-center gap-2 mt-1.5">
        <div
          class="w-4 h-4 rounded px-1 bg-[var(--mat-sys-surface-variant)] shrink-0"
        ></div>
        <div
          class="h-3 w-full max-w-[180px] bg-[var(--mat-sys-surface-variant)] rounded"
        ></div>
      </div>
    </div>

    <!-- Item 2 Skeleton -->
    <div class="flex flex-col gap-1.5 mt-1">
      <div class="h-2 w-16 bg-[var(--mat-sys-surface-variant)] rounded"></div>
      <div class="flex items-center gap-2 mt-1.5">
        <div
          class="w-4 h-4 rounded px-1 bg-[var(--mat-sys-surface-variant)] shrink-0"
        ></div>
        <div class="h-3 w-32 bg-[var(--mat-sys-surface-variant)] rounded"></div>
      </div>
    </div>

    <!-- Item 3 Skeleton -->
    <div class="flex flex-col gap-1.5 mt-1">
      <div class="h-2 w-20 bg-[var(--mat-sys-surface-variant)] rounded"></div>
      <div class="flex items-center gap-2 mt-1.5">
        <div
          class="w-4 h-4 rounded px-1 bg-[var(--mat-sys-surface-variant)] shrink-0"
        ></div>
        <div class="h-3 w-28 bg-[var(--mat-sys-surface-variant)] rounded"></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
