<mat-card appearance="outlined" class="p-6">
  <div
    class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between"
  >
    <!-- Patient Info -->
    <div class="flex items-center gap-2">
      <app-back-button />
      <div class="h-22 w-22 shrink-0 rounded-full overflow-hidden">
        <img
          [ngSrc]="avatarUrl()"
          width="88"
          height="88"
          alt="Foto del paciente"
          class="w-full h-full object-cover"
          priority
        />
      </div>

      <div>
        <h1 class="text-2xl font-bold m-0 mb-1">
          {{ patientName() }}
        </h1>
        <div class="flex flex-wrap gap-x-4 gap-y-1 text-sm">
          <span class="flex items-center gap-1">
            <i-tabler name="id" class="!w-5 !h-5"></i-tabler> {{ patientDni() }}
          </span>
          @if (patientAge() !== null) {
            <span class="flex items-center gap-1">
              <i-tabler name="cake" class="!w-5 !h-5"></i-tabler>
              {{ patientAge() }} años
            </span>
          }
          @if (lastVisit()) {
            <span class="flex items-center gap-1">
              <i-tabler name="calendar" class="!w-5 !h-5"></i-tabler>
              Última visita: {{ lastVisit() }}
            </span>
          }
        </div>
      </div>
    </div>

    <!-- Consultation Selector -->
    @if (consultations().length > 0) {
      <div class="flex flex-col gap-1 min-w-65">
        <label class="text-xs font-bold uppercase tracking-wider">
          Consultas
        </label>
        <mat-form-field
          appearance="outline"
          class="w-full"
          subscriptSizing="dynamic"
        >
          <mat-select
            [value]="selectedConsultation()"
            [compareWith]="compareConsultations"
            (valueChange)="onConsultationChange($event)"
          >
            @for (consultation of consultations(); track consultation.id) {
              <mat-option [value]="consultation">
                {{ consultation.label }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    }
  </div>
</mat-card>
