<div class="relative mt-10">
  <!-- TOOTH NUMBER -->
  <div
    class="absolute top-0 left-1/2 transform -translate-x-1/2 text-lg font-bold -mt-6 hover:scale-110 cursor-pointer"
    [matMenuTriggerFor]="menuFullTooth"
  >
    <span>{{ toothNumber }}</span>
  </div>
  <mat-menu #menuFullTooth="matMenu">
    <mat-list>
      <div class="grid grid-cols-2 gap-2 p-2">
        <button
          mat-button
          (click)="clearFullTooth()"
          class="flex flex-col items-center w-full h-full p-1"
        >
          <div class="flex justify-center items-center">
            <i-tabler name="eraser"></i-tabler>
          </div>
          <span class="text-[0.6rem]">Limpiar</span>
        </button>
        @for(treatment of treatments; track $index){
        <button
          mat-button
          (click)="updateFullTooth(treatment)"
          class="flex flex-col items-center w-full h-full p-1"
        >
          <div class="flex justify-center items-center">
            @for(icon of treatment.icons; track $index){
            <i-tabler
              [name]="icon"
              [ngClass]="[
                calculateMargin($index, treatment.icons!.length),
                treatment.color ? treatment.color : ''
              ]"
            ></i-tabler>
            }
          </div>
          <span class="text-[0.6rem]">{{ treatment.name }}</span>
        </button>
        }
      </div>
    </mat-list>
  </mat-menu>
  <!-- TOOTH NUMBER -->

  <div class="flex justify-center items-center h-18 w-18 relative">
    @if(fullToothTreatment){
    <app-tooth-face
      class="flex items-center justify-center z-10 transition-transform hover:scale-180 scale-170 cursor-pointer"
      [faceType]="toothFaceTypeEnum.FULL"
      [treatment]="fullToothTreatment!"
    ></app-tooth-face>
    } @else {
    <!-- TOP TOOTH FACE -->
    <app-tooth-face
      class="flex items-center justify-center absolute top-0 left-1/2 transform -translate-x-1/2 transition-transform hover:scale-110 cursor-pointer"
      [matMenuTriggerFor]="menuTop"
      [faceType]="toothFaceTypeEnum.TOP"
      [treatment]="topTreatment!"
    ></app-tooth-face>
    <mat-menu #menuTop="matMenu">
      <mat-list>
        <div class="grid grid-cols-2 gap-2 p-2">
          <button
            mat-button
            (click)="clearTopTreatment()"
            class="flex flex-col items-center w-full h-full p-1"
          >
            <div class="flex justify-center items-center">
              <i-tabler name="eraser"></i-tabler>
            </div>
            <span class="text-[0.6rem]">Limpiar</span>
          </button>
          @for(treatment of treatments; track $index){
          <button
            mat-button
            (click)="updateTopIcon(treatment)"
            class="flex flex-col items-center w-full h-full p-1"
          >
            <div class="flex justify-center items-center">
              @for(icon of treatment.icons; track $index){
              <i-tabler
                [name]="icon"
                [ngClass]="[
                  calculateMargin($index, treatment.icons!.length),
                  treatment.color ? treatment.color : ''
                ]"
              ></i-tabler>
              }
            </div>
            <span class="text-[0.6rem]">{{ treatment.name }}</span>
          </button>
          }
        </div>
      </mat-list>
    </mat-menu>
    <!-- TOP TOOTH FACE -->

    <!-- BOTTOM TOOTH FACE -->
    <app-tooth-face
      class="flex items-center justify-center absolute bottom-0 left-1/2 transform -translate-x-1/2 transition-transform hover:scale-110 cursor-pointer"
      [matMenuTriggerFor]="menuBottom"
      [faceType]="toothFaceTypeEnum.BOTTOM"
      [treatment]="bottomTreatment!"
    ></app-tooth-face>
    <mat-menu #menuBottom="matMenu">
      <mat-list>
        <div class="grid grid-cols-2 gap-2 p-2">
          <button
            mat-button
            (click)="clearBottomTreatment()"
            class="flex flex-col items-center w-full h-full p-1"
          >
            <div class="flex justify-center items-center">
              <i-tabler name="eraser"></i-tabler>
            </div>
            <span class="text-[0.6rem]">Limpiar</span>
          </button>
          @for(treatment of treatments; track $index){
          <button
            mat-button
            (click)="updateBottomIcon(treatment)"
            class="flex flex-col items-center w-full h-full p-1"
          >
            <div class="flex justify-center items-center">
              @for(icon of treatment.icons; track $index){
              <i-tabler
                [name]="icon"
                [ngClass]="[
                  calculateMargin($index, treatment.icons!.length),
                  treatment.color ? treatment.color : ''
                ]"
              ></i-tabler>
              }
            </div>
            <span class="text-[0.6rem]">{{ treatment.name }}</span>
          </button>
          }
        </div>
      </mat-list>
    </mat-menu>
    <!-- BOTTOM TOOTH FACE -->

    <!-- LEFT TOOTH FACE -->
    <app-tooth-face
      class="flex items-center justify-center absolute left-0 top-1/2 transform -translate-y-1/2 rotate-90 transition-transform hover:scale-110 cursor-pointer"
      [matMenuTriggerFor]="menuLeft"
      [faceType]="toothFaceTypeEnum.LEFT"
      [treatment]="leftTreatment!"
    ></app-tooth-face>
    <mat-menu #menuLeft="matMenu">
      <mat-list>
        <div class="grid grid-cols-2 gap-2 p-2">
          <button
            mat-button
            (click)="clearLeftTreatment()"
            class="flex flex-col items-center w-full h-full p-1"
          >
            <div class="flex justify-center items-center">
              <i-tabler name="eraser"></i-tabler>
            </div>
            <span class="text-[0.6rem]">Limpiar</span>
          </button>
          @for(treatment of treatments; track $index){
          <button
            mat-button
            (click)="updateLeftIcon(treatment)"
            class="flex flex-col items-center w-full h-full p-1"
          >
            <div class="flex justify-center items-center">
              @for(icon of treatment.icons; track $index){
              <i-tabler
                [name]="icon"
                [ngClass]="[
                  calculateMargin($index, treatment.icons!.length),
                  treatment.color ? treatment.color : ''
                ]"
              ></i-tabler>
              }
            </div>
            <span class="text-[0.6rem]">{{ treatment.name }}</span>
          </button>
          }
        </div>
      </mat-list>
    </mat-menu>
    <!-- LEFT TOOTH FACE -->

    <!-- RIGHT TOOTH FACE -->
    <app-tooth-face
      class="flex items-center justify-center absolute right-0 top-1/2 transform -translate-y-1/2 -rotate-270 transition-transform hover:scale-110 cursor-pointer"
      [matMenuTriggerFor]="menuRight"
      [faceType]="toothFaceTypeEnum.RIGHT"
      [treatment]="rightTreatment!"
    ></app-tooth-face>
    <mat-menu #menuRight="matMenu">
      <mat-list>
        <div class="grid grid-cols-2 gap-2 p-2">
          <button
            mat-button
            (click)="clearRightTreatment()"
            class="flex flex-col items-center w-full h-full p-1"
          >
            <div class="flex justify-center items-center">
              <i-tabler name="eraser"></i-tabler>
            </div>
            <span class="text-[0.6rem]">Limpiar</span>
          </button>
          @for(treatment of treatments; track $index){
          <button
            mat-button
            (click)="updateRightIcon(treatment)"
            class="flex flex-col items-center w-full h-full p-1"
          >
            <div class="flex justify-center items-center">
              @for(icon of treatment.icons; track $index){
              <i-tabler
                [name]="icon"
                [ngClass]="[
                  calculateMargin($index, treatment.icons!.length),
                  treatment.color ? treatment.color : ''
                ]"
              ></i-tabler>
              }
            </div>
            <span class="text-[0.6rem]">{{ treatment.name }}</span>
          </button>
          }
        </div>
      </mat-list>
    </mat-menu>
    <!-- RIGHT TOOTH FACE -->

    <!-- CENTER TOOTH FACE -->
    <app-tooth-face
      class="flex items-center justify-center z-10 transition-transform hover:scale-110 cursor-pointer"
      [matMenuTriggerFor]="menuCenter"
      [faceType]="toothFaceTypeEnum.CENTER"
      [treatment]="centerTreatment!"
    ></app-tooth-face>
    <mat-menu #menuCenter="matMenu">
      <mat-list>
        <div class="grid grid-cols-2 gap-2 p-2">
          <button
            mat-button
            (click)="clearCenterTreatment()"
            class="flex flex-col items-center w-full h-full p-1"
          >
            <div class="flex justify-center items-center">
              <i-tabler name="eraser"></i-tabler>
            </div>
            <span class="text-[0.6rem]">Limpiar</span>
          </button>
          @for(treatment of treatments; track $index){
          <button
            mat-button
            (click)="updateCenterIcon(treatment)"
            class="flex flex-col items-center w-full h-full p-1"
          >
            <div class="flex justify-center items-center">
              @for(icon of treatment.icons; track $index){
              <i-tabler
                [name]="icon"
                [ngClass]="[
                  calculateMargin($index, treatment.icons!.length),
                  treatment.color ? treatment.color : ''
                ]"
              ></i-tabler>
              }
            </div>
            <span class="text-[0.6rem]">{{ treatment.name }}</span>
          </button>
          }
        </div>
      </mat-list>
    </mat-menu>
    <!-- CENTER TOOTH FACE -->
    }
  </div>
</div>
