<div class="relative mt-10 mb-4">
  <!-- TOOTH NUMBER -->
  <div
    class="absolute top-0 left-1/2 transform -translate-x-1/2 text-lg font-bold -mt-10 hover:scale-110 cursor-pointer"
    (click)="openAddTreatmentDialog()"
  >
    <span>{{ toothNumber }}</span>
  </div>

  <!-- GENERAL TREATMENTS ICONS -->
  @for(treatment of generalTreatments; track treatment.name) {
  @if(treatment.name === TreatmentEnum.TRAT_DE_CONDUCTO){
  <div
    class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-4 flex items-center justify-center scale-125 z-30"
  >
    @for(icon of getTreatmentIcons(treatment); track $index){
    <i-tabler
      [name]="icon"
      [ngClass]="
        calculateMargin($index, getTreatmentIcons(treatment).length) +
        ' ' +
        getColor(treatment!.treatmentType) +
        ' ' +
        'z-30'
      "
    ></i-tabler>
    }
  </div>
  } @else if(treatment.name === TreatmentEnum.IMPLANTES){
  <div
    class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-4 flex items-center justify-center scale-125"
  >
    @for(icon of getTreatmentIcons(treatment); track $index){
    <i-tabler
      [name]="icon"
      [ngClass]="
        calculateMargin($index, getTreatmentIcons(treatment).length) +
        ' ' +
        getColor(treatment!.treatmentType)
      "
    ></i-tabler>
    }
  </div>
  } @else if(treatment.name === TreatmentEnum.CORONA || treatment.name ===
  TreatmentEnum.DIENTE_AUSENTE){
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center z-20 scale-270 opacity-80"
  >
    @for(icon of getTreatmentIcons(treatment); track $index){
    <i-tabler
      [name]="icon"
      [ngClass]="
        calculateMargin($index, getTreatmentIcons(treatment).length) +
        ' ' +
        getColor(treatment!.treatmentType)
      "
    ></i-tabler>
    }
  </div>
  } }

  <!-- TOOTH FACES -->
  <div class="flex justify-center items-center h-17 w-17 relative">
    <!-- TOP TOOTH FACE -->
    <app-tooth-face
      class="flex items-center justify-center absolute top-0 left-1/2 transform -translate-x-1/2 transition-transform hover:scale-110 cursor-pointer"
      [faceType]="toothFaceTypeEnum.TOP"
      [treatment]="cariesFaces[toothFaceTypeEnum.TOP]"
      (click)="openAddTreatmentDialog()"
    ></app-tooth-face>

    <!-- BOTTOM TOOTH FACE -->
    <app-tooth-face
      class="flex items-center justify-center absolute bottom-0 left-1/2 transform -translate-x-1/2 transition-transform hover:scale-110 cursor-pointer"
      [faceType]="toothFaceTypeEnum.BOTTOM"
      [treatment]="cariesFaces[toothFaceTypeEnum.BOTTOM]"
      (click)="openAddTreatmentDialog()"
    ></app-tooth-face>

    <!-- LEFT TOOTH FACE -->
    <app-tooth-face
      class="flex items-center justify-center absolute left-0 top-1/2 transform -translate-y-1/2 rotate-90 transition-transform hover:scale-110 cursor-pointer"
      [faceType]="toothFaceTypeEnum.LEFT"
      [treatment]="cariesFaces[toothFaceTypeEnum.LEFT]"
      (click)="openAddTreatmentDialog()"
    ></app-tooth-face>

    <!-- RIGHT TOOTH FACE -->
    <app-tooth-face
      class="flex items-center justify-center absolute right-0 top-1/2 transform -translate-y-1/2 -rotate-270 transition-transform hover:scale-110 cursor-pointer"
      [faceType]="toothFaceTypeEnum.RIGHT"
      [treatment]="cariesFaces[toothFaceTypeEnum.RIGHT]"
      (click)="openAddTreatmentDialog()"
    ></app-tooth-face>

    <!-- CENTER TOOTH FACE -->
    <app-tooth-face
      class="flex items-center justify-center z-10 transition-transform hover:scale-110 cursor-pointer"
      [faceType]="toothFaceTypeEnum.CENTER"
      [treatment]="cariesFaces[toothFaceTypeEnum.CENTER]"
      (click)="openAddTreatmentDialog()"
    ></app-tooth-face>
  </div>
</div>
