.avatar-gradient {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #693853 0deg,
    #f6957e 120deg,
    #da695c 240deg,
    #693853 360deg
  );
  border-radius: 50%;
  padding: 5px;
}

.avatar-gradient img {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.rounded-tabs {
  border-radius: 0px 0px var(--mat-sys-corner-medium)
    var(--mat-sys-corner-medium);
  overflow: hidden;
}
