<mat-card appearance="outlined">
  <mat-card-header class="mt-[0px] !p-0 h-[200px]">
    <img
      src="img/profile-banner.jpg"
      alt="banner"
      class="rounded-t-[var(--mat-sys-corner-medium)] object-cover overflow-hidden"
    />
  </mat-card-header>
  <mat-card-content class="mt-[-75px]">
    <div class="flex flex-col items-center">
      <div class="relative group">
        <div class="avatar-gradient flex items-center justify-center mb-2">
          <img
            [src]="avatar()"
            alt="Avatar"
            class="rounded-[50%] h-[140px] w-[140px] object-cover border-2 border-white"
          />
          <div
            class="absolute bg-black/30 rounded-full opacity-0 group-hover:opacity-100 flex items-center justify-center gap-3 transition-opacity"
          >
            <button mat-icon-button (click)="triggerFileInput()">
              <i-tabler name="edit" class="text-white"></i-tabler>
            </button>
            @if(avatar()) {
            <button mat-icon-button (click)="removeAvatar()">
              <i-tabler name="trash" class="text-red-500"></i-tabler>
            </button>
            }
          </div>
          <input
            #inputAvatar
            type="file"
            class="hidden"
            accept="image/*"
            (change)="onFileSelected($event)"
          />
        </div>
      </div>

      <span class="font-bold text-xl"
        >{{ user()?.person?.firstName }} {{ user()?.person?.lastName }}</span
      >
      <div class="flex flex-row gap-2 mt-1">
        @if(user() && user()!.rolesList && user()!.rolesList.length > 0){
        @for(role of user()!.rolesList; track $index){
        <mat-chip>{{ role.label }}</mat-chip>
        } } @else { <mat-chip color="warn">Sin roles</mat-chip>
        }
      </div>
    </div>
  </mat-card-content>
  <div
    class="w-full mt-4 bg-[var(--mat-sys-home-sidenav-content-background)] rounded-tabs"
  >
    <div class="justify-end items-end">
      <mat-tab-group
        mat-stretch-tabs="false"
        mat-align-tabs="end"
        animationDuration="300ms"
        (selectedIndexChange)="selectedTabIndex.set($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <i-tabler class="mr-1" name="user-circle"></i-tabler>
            Datos
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i-tabler class="mr-1" name="settings"></i-tabler>
            Preferencias
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i-tabler class="mr-1" name="file"></i-tabler>
            Adjuntos
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</mat-card>
<mat-card class="mt-4">
  <ng-container *ngIf="selectedTabIndex() === 0">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="p-4">
          <app-person-data-form
            [person]="user()?.person!"
          ></app-person-data-form>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="selectedTabIndex() === 1">
    <mat-card appearance="outlined">
      <div class="p-4">Preferencias</div>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="selectedTabIndex() === 2">
    <mat-card appearance="outlined">
      <div class="p-4">
        <app-attached-file
          [attachedFileEntity]="{
            id: user()?.id!,
            entity: entityTypeEnum.USER
          }"
        ></app-attached-file>
      </div>
    </mat-card>
  </ng-container>
</mat-card>
