<form class="mt-4" [formGroup]="dentistForm">
  <h3 class="text-lg font-semibold mb-4">Datos profesionales</h3>
  <div class="flex flex-col">
    <div class="flex flex-col md:flex-row gap-4">
      <mat-form-field appearance="outline" class="w-full !mb-0">
        <mat-label class="items-center flex gap-1">
          <i-tabler name="certificate"></i-tabler>
          <span class="font-bold">Número de Licencia</span>
        </mat-label>
        <input type="text" matInput formControlName="licenseNumber" />
        @if(dentistForm.get('dentist.licenseNumber')?.hasError('required') &&
        dentistForm.get('dentist.licenseNumber')?.touched){
        <mat-error>Campo requerido</mat-error>
        } @if(dentistForm.get('dentist.licenseNumber')?.hasError('maxlength')){
        <mat-error>
          El número de licencia no puede tener más de 30 caracteres.
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full !mb-0">
        <mat-label class="items-center flex gap-1">
          <i-tabler name="stethoscope"></i-tabler>
          <span class="font-bold">Especialidad</span>
        </mat-label>
        <mat-select
          name="dentistSpecialtySelect"
          formControlName="dentistSpecialty"
          [compareWith]="compare"
        >
          @for(dentistSpecialty of personDataService.dentistSpecialties(); track
          $index){
          <mat-option [value]="dentistSpecialty">{{
            dentistSpecialty.name
          }}</mat-option>
          }
        </mat-select>
        @if(dentistForm.get('dentist.dentistSpecialty')?.hasError('required') &&
        dentistForm.get('dentist.dentistSpecialty')?.touched){
        <mat-error>Campo requerido</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</form>
