<h2 mat-dialog-title>
  <b>Antecedentes clínicos</b>
</h2>
<mat-dialog-content>
  <div
    class="p-4"
    style="
      background: var(--mat-sys-content-toolbar-container-color);
      border-radius: var(--mat-sys-corner-large);
    "
  >
    <form [formGroup]="medicalRisksForm" class="w-full">
      <div formArrayName="medicalRisks">
        @for(medicalRisk of medicalRisks.controls; track $index){
        <div [formGroupName]="$index" class="flex flex-col md:flex-row gap-4">
          <mat-form-field appearance="outline" class="w-full !mb-0">
            <mat-label class="items-center flex gap-1">
              <i-tabler name="stethoscope"></i-tabler>
              <span class="font-bold">Antecedente</span>
            </mat-label>
            <mat-select
              name="medicalRiskSelect"
              formControlName="selectedRisk"
              [compareWith]="compare"
            >
              @for(medicalRisk of personDataService.medicalHistoryRisks(); track
              $index){
              <mat-option [value]="medicalRisk">{{
                medicalRisk.name
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full !mb-0">
            <mat-label class="items-center flex gap-1">
              <i-tabler name="medical-cross"></i-tabler>
              <span class="font-bold">Observaciones</span>
            </mat-label>
            <textarea
              matInput
              formControlName="observation"
              maxlength="500"
            ></textarea>
          </mat-form-field>

          <button
            mat-icon-button
            aria-label="Eliminar antecedente"
            (click)="removeMedicalRisk($index)"
            class="mt-1"
            matTooltip="Eliminar"
          >
            <i-tabler class="text-[#ef4444] mb-1" name="xbox-x"></i-tabler>
          </button>
        </div>
        }

        <button
          mat-button
          color="primary"
          type="button"
          (click)="addMedicalRisk()"
        >
          <mat-icon>add</mat-icon> Agregar antecedente
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" type="button" (click)="submit()">
    Confirmar
  </button>
</mat-dialog-actions>
